body {
    background-color: $white;
    font-family: $ff-raleway;
    line-height: 1.5;
    letter-spacing: 0.2rem;
}

.container {
    width: 80%;
    // max-width: ;
    margin: 0 auto;
}

h3 {
    color: $title-gray;
    text-transform: uppercase;
    font-family: $ff-lato;
    font-size: 1.5rem;
    padding: 2rem 0 0 0;

    &::after {
        @include underline()
        width: 10rem;
    }
}