#price-list {
    background-color: $background-gray;

    .options-box {
        display: flex;
        flex-direction: column;

        .product-option {
            width: 100%;
            height: 33rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                text-transform: uppercase;
                font-family: $ff-lato;
                font-size: 1.2rem;
                margin: 2rem 0 0 0;
            }

            .price-circle {
                border-radius: 50%;
                width: 8rem;
                height: 8rem;
                margin: 2.3rem 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    text-transform: uppercase;
                    font-weight: $fw-b;
                }

                .price {
                    font-size: 2rem;

                    sup {
                        vertical-align: top;
                        font-size: .9rem;
                    }
                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;

                li {
                    font-size: .98rem;
                    width: 100%;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    text-align: center;
                }
            }
        }

        .price-btn {
            width: 8rem;
            height: 2.5rem;
            border: none;
            border-radius: .4rem;
            margin: auto 0 2rem 0;
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        .side {
            border: 2px solid $border-gray;
            background-color: $bg-option;
            margin: 2rem 0;

            h5 {
                color: $main-green;
            }

            .price-circle {
                border: 2px solid $border-gray;
                background-color: $white;

                span {
                    color: $border-gray;
                }
            }

            .price-btn {
                background-color: $main-green;
                color: $white;
            }

            .price-btn:hover {
                background-color: $hover-color;
                cursor: pointer;
            }
        }

        .middle {
            background-color: $main-green;

            h5 {
                color: $white;
            }

            .price-circle {
                background-color: $white;

                span {
                    color: $main-green;
                }
            }

            .price-btn {
                background-color: $white;
                color: $main-green;
            }

            .price-btn:hover {
                background-color: $hover-color;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

// loop for <li> elements

@for $i from 1 through 4 {
    .el-#{$i} {
        @if $i % 2 == 0 {
            background-color: $el-2-bg;
            color: $el-2-font;
        } @else {
            background-color: $el-1-bg;
            color: $el-1-font;
        }
    }

    .md-#{$i} {
        @if $i % 2 == 0 {
            background-color: $md-2-bg;
            color: $md-2-font;
        } @else {
            background-color: $md-1-bg;
            color: $md-1-font;
        }
    }
}

@media (min-width: 768px) {
    
    #price-list {

        .container {
            
            .options-box {
                flex-direction: row;
                flex-flow: wrap;
                justify-content: space-between;
                align-items: center;

                .product-option {
                    width: 45%;
                }

                .last {
                    margin: 0 0 2rem 27.5%; 
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #price-list {

        .container {
    
            .options-box {
                flex-flow: nowrap;
    
                .product-option {
                    width: 30%;
                }
    
                .last {
                    margin: 0;
                }
            }
        }
    }
}