#products {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-box {
            width: 100%;
            height: 14rem;
            margin: 2.3rem 0 0 0;

            .product-title {
                width: 100%;
                height: 3rem;
                margin: 9.5rem 0 1.5rem 0;
                background-color: $bg-opacity;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    font-size: .8rem;
                    font-weight: $fw-b;
                    width: 80%;
                }
            }
        }
    
        .chair-photo {
            border: 1px solid $border-gray;
            background-image: url(../../img/box1_img.jpg);
            @include bg-img();

            .product-title {
                h4 {
                    &::after {
                        @include underline();
                        width: 9rem;
                    }
                }
            }
        }
    
        .children-photo {
            border: 1px solid $border-gray;
            background-image: url(../../img/box2_img.jpg);
            @include bg-img();

            .product-title {
                h4 {
                    &::after {
                        @include underline();
                        width: 12rem;
                    }
                }
            }
        }

        .product-description {
            width: 80%;
            height: auto;
            margin: 2.3rem 0;
            
            h4 {
                font-weight: $fw-b;
                font-size: 1.1rem;

                &::after {
                    @include underline();
                    width: 13rem;
                }
            }

            p {
                margin: 1.7rem 0 0 0;
                font-size: .9rem;
                color: $font-gray;
            }
        }
    }

    @media (min-width: 768px) {

        .container {
            width: 80%;
            justify-content: center;

            .product-box {
                width: 80%;
                height: 18rem;

                .product-title {
                    margin: 13.5rem 0 1.5rem 0;
                }
            }

            .product-description {
                border: 1px solid $border-gray;
                
                h4 {
                    padding: 1.5rem 0 0 1.5rem;
                }

                p {
                    padding: 1.5rem 0 0 1.5rem;
                    margin: 0;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .product-box {
                width: 30%;
                height: 15rem;

                .product-title {
                    margin: 10.5rem 0 1.5rem 0;
                }
            }

            .product-description {
                height: auto;
                padding: 0 0 1.5rem 0;
            }
        }
    }
}