#showcase {
    width: 100%;
    @include gradient;

    .arrow-box {
        display: none;
    }

    .main-img {
        width: 100%;
        height: 20rem;
        background-image: url(../../img/black_chair.png);
        @include bg-img();
        background-size: auto;
    }

    .main-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: .9rem;

        h2 {
            text-transform: uppercase;
            margin: 0 0 1.3rem 0;
            font-family: $ff-lato;
            font-size: 1.4rem;

            span {
                color: $main-green;
                font-weight: $fw-b;
            }
        }

        button {
            margin: 2rem 0;
            width: 13rem;
            height: 3rem;
            text-transform: uppercase;
            font-family: $ff-raleway;
            font-size: 1.3rem;
            border: none;
            border-radius: .5rem;
            background-color: $main-green;
            color: $white;
        }
    }

    @media (min-width: 768px) {

        padding: 3rem 0;
        
        .container {
            display: flex;

            .main-img {
                width: 50%;            }
    
            .main-description {
                width: 50%;            }
        }

    }

    @media (min-width: 1024px) {
        .container {
            

            .arrow-box {
                display: block;
                width: 10%;
                display: flex;
                align-items: center;


                .arrow {
                    width: 100%;
                    font-size: 7rem;
                    color: $main-green;
                }

                .left {
                    text-align: left;
                }

                .right {
                    text-align: right;
                }
            }

            

            .main-img {
                width: 40%;
            }
            .main-description {
                width: 40%;

                h2 {
                    font-size: 1.9rem;
                }
            }
        }
    }
}