@mixin gradient() {
    background: rgba(250, 250, 250, 1);
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 199, 210, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(205, 199, 210, 1)));
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 199, 210, 1) 100%);
    background: -o-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 199, 210, 1) 100%);
    background: -ms-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 199, 210, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 199, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cdc7d2', GradientType=0);
}

@mixin bg-img() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin underline() {
    content: '';
    display: block;
    height: .4rem;
    background-color: $main-green;
}

@mixin input-look() {
    width: 100%;
    height: 3rem;
    border: 1px solid $main-green;
    font-size: 1.5rem;
    padding: 0 0 0 .5rem;
    margin: 0 0 1.5rem 0;
}