@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:400,700,900&subset=latin-ext');

$ff-raleway: 'Raleway', sans-serif;
$ff-lato: 'Lato', sans-serif;

$fw-n: 400;
$fw-bolder: 700;
$fw-b: 900;